###
[Main]
plot_width                    =   500
### will automatically determine the plot height
#plot_height                   =   200
plot_background_draw          =   TRUE
plot_fill_color               =   black
plot_fill_opaque              =   1
plot_stroke_color             =   black
plot_stroke_size              =   0.1
plot_margin_left_size         =   10
plot_margin_right_size        =   10
plot_margin_top_size          =   10
plot_margin_bottom_size       =   20
plot_font_size                =   10
plot_font_family              =   Arail

[Chrom]
### whether to draw gene start to end on each chromosome
chrom_cut_end                 =   1
chrom_flanking_length         =   1000
chrom_track_space             =   50
chrom_stroke_size             =   2
chrom_stroke_color            =   grey
### specify chromosome length here if chrom_cut_end = 0
chr13                         =   253297778
chr3                          =   251713222
chr4                          =   253297778
chr5                          =   253297778



[Gene]
gene_draw                     =   TRUE
gene_fill_color               =   black
gene_fill_opaque              =   1
gene_stroke_color             =   black
gene_stroke_size              =   0.1
gene_stroke_opaque            =   1
gene_track_height             =   8
gene_orientation_draw         =   TRUE
gene_orientation_color        =   white
gene_orientation_size         =   1
gene_orientation_width        =   5
gene_orientation_height       =   6
gene_orientation_space        =   30

[Exon]
exon_draw                     =   TRUE
exon_fill_color               =   blue
exon_fill_opaque              =   1
exon_stroke_color             =   black
exon_stroke_size              =   0
exon_stroke_opaque            =   1
exon_track_space              =   15
exon_track_height             =   10
exon_orientation_draw         =   TRUE
exon_orientation_color        =   white
exon_orientation_size         =   1
exon_orientation_width        =   5
exon_orientation_height       =   6
exon_orientation_space        =   10

### draw intron as straight line
[Intron]
intron_draw                   =   FALSE
intron_stroke_color           =   black
intron_stroke_size            =   1
intron_joiner_draw            =   TRUE
intron_joiner_stroke_color    =   black
intron_joiner_stroke_size     =   1
intron_joiner_height          =   5

### draw intron as polygonal line at the exon corner


[UTR]
UTR_draw                      =   TRUE
UTR_fill_color                =   black
UTR_fill_opaque               =   1
UTR_stroke_color              =   black
UTR_stroke_size               =   0
UTR_stroke_opaque             =   1
UTR_track_height              =   5


[Ruler]
ruler_draw                    =   TRUE
ruler_stroke_color            =   black
ruler_stroke_size             =   5


